


.nws-modal-wrapper .nws-modal {
  height: auto !important;
}

.nws-modal-wrapper .nws-modal .modal-right {
  display: none !important;
}

.nws-modal-wrapper .nws-modal .modal-left {
  width: 100%;
  border-right: 1px solid
    var(--wallet-selector-sidebar-border-color, var(--sidebar-border-color));
  padding: 32px 24px;
  height: 100%;
  overflow: auto;
  text-align: center;
}
.nws-modal-wrapper .nws-modal {
  height: 215px;
}
.wallet-options-wrapper {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.nws-modal-wrapper .nws-modal > .modal-left > div:nth-child(2) {
  display: flex;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.nws-modal-wrapper
  .modal-left
  .wallet-options-wrapper
  .options-list-section
  .options-list-section-header {
  display: none;
}



:root {
          --primary: #2E3A45;
          --secondary: #4B5B6E;
          --mainBg: #1C1E26;
          --gradOne: #506680;
          --gradTwo: #3C475E;
          --cardOne: #323C4F;
          --cardTwo: #2B3038;
          --linkColor: #507CBE;
          --icon: #637589;
          --camera: #2E3A45;
          --modalText: #FFFFFF;
          --leaderboardText: #B0BAC9;
          --headerText: #B0BAC9;
          --mainText: #FFFFFF;
          --freeUseText: #78A1BB;
          --bgFreeUse: #78A1BB1A;
          --primaryBtnText: #FFFFFF;
          --secondaryBtnText: #FFFFFF;
        }